In [1]:
import pandas as pd
import numpy as np
import datetime
import re

In [2]:
df = pd.read_csv('all_permit_v1.csv')

C:\Users\danie\anaconda_3\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (0,2,9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head(3)

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,ward,id,cost,year,month,source,mn
0,NaN,0048s00284000000,NaN,pfohl donald e & lucy g (w),2012-01-30 00:00:00,interior fitout for yoga studio\n-pittsburgh b...,11-b-03000,nh construction llc,"3418 penn ave, pittsburgh, pa",NaN,6.0,NaN,200000.0,2012,january,xls,1
1,NaN,0006r00206000000,NaN,p7 investments lp,2012-01-04 00:00:00,new 3 story single family dwelling with 2 car ...,11-b-03019,heartland homes inc,"435 sweetbriar st, pittsburgh, pa",NaN,19.0,NaN,100000.0,2012,january,xls,1
2,NaN,0006r00206000000,NaN,dugan timothy,2012-01-04 00:00:00,new 3 story single family dwelling with 2 car ...,11-b-03021,heartland homes inc,"437 sweetbriar st 435, pittsburgh, pa",NaN,19.0,NaN,100000.0,2012,january,xls,1

In [4]:
df.dtypes

structure_type       object
parcel               object
neighborhood         object
owner                object
issued               object
work description     object
permit               object
contractor           object
address              object
work_type            object
ward                 object
id                  float64
cost                 object
year                  int64
month                object
source               object
mn                    int64
dtype: object

# Realized I missed a non-API data set and have added it after the fact...

In [9]:
df = df[(df.year==2013) & (df.month=='january')]

In [10]:
# Missing data %
df.isna().sum()/len(df)*100

structure_type      100.0
parcel                0.0
neighborhood        100.0
owner                 0.0
issued                0.0
work description      0.0
permit                0.0
contractor            0.0
address               0.0
work_type           100.0
ward                  0.0
id                  100.0
cost                  0.0
year                  0.0
month                 0.0
source                0.0
mn                    0.0
dtype: float64

In [11]:
no_cost = df[df.cost.isna()]

In [12]:
no_cost.to_csv('cost_na.csv',index=False)

In [13]:
df = df[~df.cost.isna()]

In [76]:
df[~df.address.str.contains('pittsburgh')]

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,ward,id,cost,year,month,source,mn
653,NaN,0049c00068 00,NaN,mark jessie davis,2012-05-23 00:00:00,building permit only- abate condemnation of ex...,09-01326,davis jesse carpentry,273 45th st,NaN,9.0,1.0,15000.0,2012,may,API,5
654,NaN,0003l00296 00,NaN,south high development lp,2012-05-31 00:00:00,use of existing 4 story structure with 71 apar...,09-06263,new-belle construction inc,930 e carson st,NaN,17.0,2.0,6000000.0,2012,may,API,5
655,NaN,0013c00307 00,NaN,jlb development group llc,2012-05-24 00:00:00,3-story single family attached dwelling with 2...,10-06326,trends capital llc,2355 holt st,NaN,16.0,3.0,50000.0,2012,may,API,5
656,NaN,0028b00131 00,NaN,schwartz linda b,2012-05-23 00:00:00,"1,350 sq ft on 1st floor as retail sales and s...",10-06383,sme real estate llc,3533 forbes ave,NaN,4.0,4.0,25000.0,2012,may,API,5
657,NaN,0085f00077 00,NaN,kaufer david s & barbara j levine (w),2012-05-22 00:00:00,building permit only- replacement of interior,10-08612,j francis co llc,1026 murray hill ave,NaN,14.0,5.0,7000.0,2012,may,API,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68551,commercial - all other uses,0025-k-00164-0000-00,strip district,solara ventures vii llc,2020-10-19t00:00:00,phased construction of 6 story structure with ...,bp-2020-04511,franjo construction,no primary address specified,new construction,2,527.0,5.15e+06,2020,october,API,10
68693,commercial,0001-h-00388-0500-00,central business district,renewal inc,2020-10-23t00:00:00,"exterior equipment, interior equipment, ductwo...",mp-2019-02480,r & b mechanical inc,no primary address specified,addition / alteration,1,672.0,115000,2020,october,API,10
69151,commercial - all other uses,0056-j-00045-0000-00,hazelwood,progress fund,2020-11-10t00:00:00,interior and exterior alterations to existing ...,bp-2020-05256,sota construction services,no primary address specified,addition / alteration,15,266.0,1e+06,2020,november,API,11
70742,commercial - all other uses,0001-h-00388-0500-00,central business district,renewal inc,2021-01-15t00:00:00,"install new service, distribution equipment, p...",ep-2020-02913,arrow electric inc,no primary address specified,addition / alteration,1,364.0,30000,2021,january,API,1
70964,commercial - all other uses,0052-d-00141-0018-00,shadyside,wang yixin,2021-01-26t00:00:00,replacement of existing front entryways/decks ...,bp-2020-08288,liberty evergreen development llc,no primary address specified,addition / alteration,7,594.0,250000,2021,january,API,1

In [77]:
no_address = df[df.address.str.contains('no primary')]

In [78]:
no_address.to_csv('address_na.csv',index=False)

In [14]:
df = df[~df.address.str.contains('no primary')]

In [15]:
# Add pittsburgh to addresses with only streets
city = ', pittsburgh, pa'
f = lambda x: x+city if ',' not in x else x
df['address'] = df['address'].apply(lambda x:f(x))

In [16]:
df[~df.address.str.contains('pittsburgh')&~df.address.str.contains(' pa')]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn]
Index: []

In [82]:
df.loc[53473, 'address'] = '6 allegheny square east, #101, pittsburgh, pa'

In [83]:
df.loc[3568, 'address'] = '22 windom hill pl, pittsburgh, pa'

In [17]:
misspelled = df[df.address.str.contains('pittsbugrh')].index.values

In [18]:
for i in misspelled:
    df.loc[i,'address'] = df.loc[i,'address'].replace('pittsbugrh','pittsburgh')

In [19]:
df.duplicated().sum()

0

## Stopping point

In [121]:
df.to_csv('working.csv', index=False)

In [2]:
df = pd.read_csv('working.csv')

C:\Users\danie\anaconda_3\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (0,2,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
df[df.iloc[:,10].str.contains(r'[A-Za-z]')==True]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn]
Index: []

In [88]:
df.drop(index=9508, inplace = True)

In [21]:
df.ward.unique()

array(['6.0', '21.0', '3.0', '11.0', '10.0', '14.0', '24.0', '20.0',
       '22.0', '16.0', '9.0', '4.0', '1.0', '27.0', '2.0', '19.0', '5.0',
       '25.0', '7.0', '15.0', '8.0', '17.0', '13.0', '18.0', '29.0',
       '32.0', '26.0', '12.0'], dtype=object)

In [90]:
# Just keep the first one noted
def fix_ward(x):
    if pd.isna(x):
        return np.nan    
    elif ';' in x:
        return x.split(';')[0]
    elif '/' in x:
        return x.split('/')[0]
    elif '.' in x:
        return x.split('.')[0]
    elif '2820' in x:
        return '28'
    else:
        return x

In [91]:
df['clean_ward'] = df['ward'].apply(lambda x:fix_ward(x))

In [22]:
df['cost'] = df['cost'].astype('float')

In [23]:
df.describe()

        id          cost    year     mn
count  0.0  1.480000e+02   148.0  148.0
mean   NaN  1.671557e+05  2013.0    1.0
std    NaN  9.362154e+05     0.0    0.0
min    NaN  0.000000e+00  2013.0    1.0
25%    NaN  4.021750e+03  2013.0    1.0
50%    NaN  1.567000e+04  2013.0    1.0
75%    NaN  4.000000e+04  2013.0    1.0
max    NaN  8.528417e+06  2013.0    1.0

## Stopping point

In [19]:
df.to_csv('working.csv', index=False)

In [24]:
# Begin address cleaning, look for symbols
df[df['address'].str.findall(r'[^#a-zA-Z0-9, /]').str[0].notna()]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn]
Index: []

In [95]:
# Prefer just single # to refer to anything regarding "unit" as this is common and known by Geocoders
df['address'] = df['address'].str.replace('#unit','#')

In [96]:
df['address'] = df['address'].str.replace('##','#')

In [25]:
# Find digit-letter units and kill the dash, i.e., make 12-e into 12e
pat = r'([0-9][-][a-zA-Z])'
df[df['address'].str.contains(pat)]

C:\Users\danie\anaconda_3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn]
Index: []

In [98]:
df[df['address'].str.contains(pat)].index.values

C:\Users\danie\anaconda_3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

array([ 5473,  5573,  6843,  6918,  8016,  8681,  8772,  9173, 12428,
       12429, 13849, 14849, 16062, 17742, 27602, 44813, 50086, 53431,
       59967, 60903, 61036], dtype=int64)

In [59]:
df.loc[5473,'address'].replace('-','')

'320 fort duquesne blvd 12e, pittsburgh, pa'

In [99]:
for i in df[df['address'].str.contains(pat)].index.values:
    df.loc[i,'address'] = df.loc[i,'address'].replace('-','')

In [26]:
df[df['address'].str.findall(r'[^#a-zA-Z0-9, /]').str[0].notna()]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn]
Index: []

In [106]:
# Narrow change for weird address
df.loc[15865,'address'] = df.loc[15865,'address'].replace('< pa','')

In [107]:
# Narrow change for weird address
df.loc[45661,'address'] = df.loc[45661,'address'].replace('#ph-3','# ph3')

In [101]:
# Narrow change for weird address
df.loc[66775,'address'] = df.loc[66775,'address'].replace('g-3','g3')

In [28]:
df[df['address'].str.findall(r'[^#a-zA-Z0-9, /]').str[0].notna()]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn]
Index: []

In [102]:
multiaddress = df[df['address'].str.findall(r'[^#a-zA-Z0-9, /]').str[0].notna()].index.values

In [103]:
def take_first(x):
    if " -" in x:
        y = ' '+x.split()[1]
        first = x.replace(y, '')
        return first
    else:
        return x

In [104]:
# Take addresses like "100 -105 n avenue" and just make them "100 n avenue" for simplicity
for addr in multiaddress:
    df.loc[addr, 'address'] = take_first(df.loc[addr, 'address'])

In [108]:
df[df['address'].str.findall(r'[^#a-zA-Z0-9, /]').str[0].notna()]

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,ward,id,cost,year,month,source,mn,clean_ward
23099,NaN,134757,NaN,penn liberty holding company,9/13/2016,generators for event,16-e-02566,NaN,"penn & 7th, pittsburgh, pa",NaN,2.0,NaN,450.0,2016,september,xslx,9,2

In [29]:
# Look for two+ white spaces to address gaps
df[df.loc[:,'address'].str.contains(r'([ ]){2,}')]

C:\Users\danie\anaconda_3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn]
Index: []

In [110]:
# Only 2! just change in line
df.loc[52458,'address'] = '6512 jackson st, pittsburgh, pa 15206'

In [111]:
df.loc[56113,'address'] = '1401 blvd of the allies, pittsburgh, pa 15219'

In [30]:
df[df.loc[:,'address'].str.contains(r" b(ui)?ld(in)?g ")]

C:\Users\danie\anaconda_3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn]
Index: []

In [113]:
# clear hanging white space
df.loc[:,'address'] = df.loc[:,'address'].str.replace(r' $', '')

In [31]:
df.loc[:,'address'].str.contains(r' $').sum()

0

In [32]:
# likely abbreviations flanked by commas or whitespace
full = {' rd,':' road,', ' ave,':' avenue,',' st,':' street,', ' blvd,':' boulevard,',
 ' ct,':' court,', ' pl,':' place,', ' dr,':' drive,', ' ln,':' lane,', ' ctr,': ' center,',
       ' rd ':' road,', ' ave ':' avenue ',' st ':' street ', ' blvd ':' boulevard,',
 ' ct ':' court,', ' pl ':' place,', ' dr ':' drive,', ' ln ':' lane,', ' ctr ': ' center,', ' ste ':' suite '}

In [33]:
def complete_street(x):
    for i in full.keys():
        if i in x:
            x = x.replace(i, full[i])
    return x

In [34]:
# likely abbreviations flanked by commas or whitespace
direc = {' n ':' north ', ' e ':' east ',' s ':' south ', ' w ':' west '}

In [35]:
def complete_direc(x):
    for i in direc.keys():
        if i in x:
            x = x.replace(i, direc[i])
    return x

In [36]:
# Apply the func to cleanse abbreviations
df.loc[:,'address'] = df.loc[:,'address'].apply(lambda x: complete_street(x))

In [41]:
# Apply the func to cleanse abbreviations
df.loc[:,'address'] = df.loc[:,'address'].apply(lambda x: complete_direc(x))

In [37]:
nth = {' 1st':' first', ' 2nd':' second',' 3rd':' third', ' 4th':' fourth', ' 5th':' fifth',
      ' 6th':' sixth', ' 7th':' seventh', ' 8th':' eighth', ' 9th':' ninth'}

In [38]:
def complete_nth(x):
    for i in nth.keys():
        if i in x:
            x = x.replace(i, nth[i])
    return x

In [39]:
df.loc[:,'address'] = df.loc[:,'address'].apply(lambda x: complete_nth(x))

In [42]:
df.loc[:,'address']

2439    3955 liberty avenue 3951, pittsburgh, pa
2440            777 casino drive, pittsburgh, pa
2441         1435 bedford avenue, pittsburgh, pa
2442     526 north euclid avenue, pittsburgh, pa
2443         4914 kincaid street, pittsburgh, pa
                          ...
2582         814 crawford street, pittsburgh, pa
2583             223 fisk street, pittsburgh, pa
2584    303 north neville street, pittsburgh, pa
2585            1725 larkins way, pittsburgh, pa
2586    1718 west liberty avenue, pittsburgh, pa
Name: address, Length: 148, dtype: object

## Stopping point

In [11]:
df.to_csv('working.csv', index=False)

In [2]:
df = pd.read_csv('working.csv')

C:\Users\danie\anaconda_3\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (0,2,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [43]:
df.iloc[:,[0,2,9]]

     structure_type neighborhood work_type
2439            NaN          NaN       NaN
2440            NaN          NaN       NaN
2441            NaN          NaN       NaN
2442            NaN          NaN       NaN
2443            NaN          NaN       NaN
...             ...          ...       ...
2582            NaN          NaN       NaN
2583            NaN          NaN       NaN
2584            NaN          NaN       NaN
2585            NaN          NaN       NaN
2586            NaN          NaN       NaN

[148 rows x 3 columns]

In [44]:
df.iloc[:,0].replace(np.nan,'not_listed')

2439    not_listed
2440    not_listed
2441    not_listed
2442    not_listed
2443    not_listed
           ...
2582    not_listed
2583    not_listed
2584    not_listed
2585    not_listed
2586    not_listed
Name: structure_type, Length: 148, dtype: object

In [45]:
for i in [0,2,9]:
    df.iloc[:,i]= df.iloc[:,i].replace(np.nan,'not_listed')

In [46]:
pat = r'^[a-zA-Z 0,]'

In [47]:
df[df.loc[:,'address'].str.contains(pat)].index.values

array([2487], dtype=int64)

In [48]:
df[df.loc[:,'address'].str.contains(pat)]

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,ward,id,cost,year,month,source,mn
2487,not_listed,0015c00082000000,not_listed,port authority of allegheny county,1/16/2013,install structural support for 11 exhaust fans,12-b-03046,the chappy corporation,"0 east warrington avenue, pittsburgh, pa",not_listed,19.0,NaN,0.0,2013,january,xslx,1

In [16]:
df[df.loc[:,'address'].str.contains(pat)].to_csv('addr_number_na.csv',index=False)

In [49]:
df = df[~df.loc[:,'address'].str.contains(pat)]

In [50]:
len(df)

147

In [139]:
df.to_csv('working.csv', index=False)

In [12]:
# Recheck for mixed types after clearing NaNs
df = pd.read_csv('working.csv')

## Split addresses to see about consolidating where possible

In [66]:
df = pd.read_csv('working.csv')

In [51]:
df.loc[:,'address'] = df.loc[:,'address'].str.replace('boulevard,of the allies,', 'boulevard of the allies,')

In [52]:
df.head(2)

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,ward,id,cost,year,month,source,mn
2439,not_listed,0049r00244000000,not_listed,john g & valerie s mcconnell,1/15/2013,repairs to south easterly corner of two story ...,11-b-02247,next generation restorable technology,"3955 liberty avenue 3951, pittsburgh, pa",not_listed,6.0,NaN,6000.0,2013,january,xslx,1
2440,not_listed,0007l00032000000,not_listed,holdings acquisition co lp,1/28/2013,renovate 1st floor offices,12-b-00962,the norwood company,"777 casino drive, pittsburgh, pa",not_listed,21.0,NaN,97550.0,2013,january,xslx,1

In [53]:
df['split_addr'] = df.loc[:,'address'].str.split(',')

In [54]:
x = 0
for i in df['address'].str.split(','):
    if len(i) > x:
        x = len(i)

In [55]:
x

3

In [56]:
df['addr1'] = df.loc[:,'split_addr'].apply(lambda x: x[0] if len(x)>0 else '')

In [57]:
df['addr2'] = df.loc[:,'split_addr'].apply(lambda x: x[1] if len(x)>1 else '')
df['addr3'] = df.loc[:,'split_addr'].apply(lambda x: x[2] if len(x)>2 else '')
#df['addr4'] = df.loc[:,'split_addr'].apply(lambda x: x[3] if len(x)>3 else '')

In [58]:
sorted(df.addr2.unique())

[' pittsburgh']

In [59]:
# isolate addr2 components that need fixing
df[df.loc[:,'addr2'].str.contains(r'^[a-z]')]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn, split_addr, addr1, addr2, addr3]
Index: []

[0 rows x 21 columns]

In [56]:
# Get rid of these 'a' and 'cc' type additions, they mean nothing to addresses
df.loc[:,'address'] = df.loc[:,'address'].str.replace(r',[a-z]{1},', ',')

In [67]:
df.loc[:,'address'] = df.loc[:,'address'].str.replace(r',[a-z]{2},', ',')

In [60]:
# Narrow fixes for things I probably messed up (drive, blvd...)
fixes = ['boulevard,of the allies avenue,',
'center,center,',
'boulevard,of the allies boulevard,',
'drive,drive,']

In [61]:
df.loc[:,'address'] = df.loc[:,'address'].str.replace(fixes[0], 'boulevard of the allies,')
df.loc[:,'address'] = df.loc[:,'address'].str.replace(fixes[1], 'center,')
df.loc[:,'address'] = df.loc[:,'address'].str.replace(fixes[2], 'boulevard of the allies,')
df.loc[:,'address'] = df.loc[:,'address'].str.replace(fixes[3], 'drive,')

## Stopping point

In [105]:
df.to_csv('working.csv', index=False)

In [35]:
df = pd.read_csv('working.csv')

In [62]:
sorted(df.addr2.unique())

[' pittsburgh']

In [63]:
# has 'pittsburgh,' but not PA 
noPA = df[~df.loc[:,'address'].str.contains(' pa') & df.loc[:,'address'].str.contains('pittsburgh,')].index.values

In [64]:
noPA

array([], dtype=int64)

In [110]:
df.loc[noPA[0],'address'].replace('pittsburgh,', 'pittsburgh, pa')

'1931 sidney street, pittsburgh, pa 15203'

In [109]:
# Place PA in address
for i in noPA:
    df.loc[i,'address'] = df.loc[i,'address'].replace(' pittsburgh,', ' pittsburgh, pa')

In [65]:
noComma = df[~df.loc[:,'address'].str.contains(' pa') & ~df.loc[:,'address'].str.contains('pittsburgh,')].index.values

In [66]:
noComma

array([], dtype=int64)

In [112]:
# Place PA in address
for i in noComma:
    df.loc[i,'address'] = df.loc[i,'address'].replace(' pittsburgh', ' pittsburgh, pa')

In [113]:
df[~df.addr2.str.contains('#') & ~df.addr2.str.contains('pittsburgh')][:50]

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,...,year,month,source,mn,clean_ward,split_addr,addr1,addr2,addr3,addr4
3,not_listed,0088r00175000000,not_listed,browns hill venture lp,2012-01-17 00:00:00,tenant fitout of 2008 sq ft retail space in on...,11-b-03148,"gem construction, inc.","4656 browns hill road,4634, pittsburgh, pa",not_listed,...,2012,january,xls,1,15.0,"['4656 browns hill road', '4634', ' pittsburgh...",4656 browns hill road,4634,pittsburgh,pa
5461,not_listed,0001c01662012500,not_listed,ryan keefe,2014-01-24t00:00:00,interior condo renovations-12e,14-b-00143,randy stebler general contracting,"320 fort duquesne boulevard,12e, pittsburgh, pa",not_listed,...,2014,january,API,1,2.0,"['320 fort duquesne boulevard', '12e', ' pitts...",320 fort duquesne boulevard,12e,pittsburgh,pa
5561,not_listed,0001c01662f01900,not_listed,betancourt carlos,2014-02-28t00:00:00,condo renovations,14-b-00106,fjw investment inc cabinet world,"320 fort duquesne boulevard,19f, pittsburgh, pa",not_listed,...,2014,february,API,2,2.0,"['320 fort duquesne boulevard', '19f', ' pitts...",320 fort duquesne boulevard,19f,pittsburgh,pa
6459,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs (building # 15),14-b-01065,air technology inc,"2505 chauncey drive,179, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2505 chauncey drive', '179', ' pittsburgh', ...",2505 chauncey drive,179,pittsburgh,pa
6460,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs (building # 16),14-b-01066,air technology inc,"2525 chauncey drive,187, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2525 chauncey drive', '187', ' pittsburgh', ...",2525 chauncey drive,187,pittsburgh,pa
6468,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs (building # 14),14-b-01042,air technology inc,"2469 chauncey drive,171, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2469 chauncey drive', '171', ' pittsburgh', ...",2469 chauncey drive,171,pittsburgh,pa
6562,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-00981,air technology inc,"2249 somers drive,9, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2249 somers drive', '9', ' pittsburgh', ' pa']",2249 somers drive,9,pittsburgh,pa
6563,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-00982,air technology inc,"2267 somers drive,17, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2267 somers drive', '17', ' pittsburgh', ' pa']",2267 somers drive,17,pittsburgh,pa
6574,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-01005,air technology inc,"2407 chauncey drive,105, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2407 chauncey drive', '105', ' pittsburgh', ...",2407 chauncey drive,105,pittsburgh,pa
6575,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-01008,air technology inc,"2427 chauncey drive,142, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2427 chauncey drive', '142', ' pittsburgh', ...",2427 chauncey drive,142,pittsburgh,pa
6580,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-01006,air technology inc,"2409 chauncey drive,117, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2409 chauncey drive', '117', ' pittsburgh', ...",2409 chauncey drive,117,pittsburgh,pa
6581,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-01007,air technology inc,"2423 chauncey drive,129, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2423 chauncey drive', '129', ' pittsburgh', ...",2423 chauncey drive,129,pittsburgh,pa
6679,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs (building # 13),14-b-01040,air technology inc,"2457 chauncey drive,165, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2457 chauncey drive', '165', ' pittsburgh', ...",2457 chauncey drive,165,pittsburgh,pa
6696,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-00980,air technology inc,"2235 somers drive,1, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2235 somers drive', '1', ' pittsburgh', ' pa']",2235 somers drive,1,pittsburgh,pa
6697,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-00983,air technology inc,"2281 somers drive,25, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2281 somers drive', '25', ' pittsburgh', ' pa']",2281 somers drive,25,pittsburgh,pa
6714,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs (building # 12),14-b-01039,air technology inc,"2435 chauncey drive,153, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"['2435 chauncey drive', '153', ' pittsburgh', ...",2435 chauncey drive,153,pittsburgh,pa
6831,not_listed,0001c01662h01200,not_listed,anne and mike osborn,2014-06-06t00:00:00,interior renovations to condo unit 12 h on 12t...,14-b-01256,delaney's decorating,"320 fort duquesne boulevard,12h, pittsburgh, pa",not_listed,...,2014,june,API,6,2.0,"['320 fort duquesne boulevard', '12h', ' pitts...",320 fort duquesne boulevard,12h,pittsburgh,pa
6906,not_listed,0001c01662009800,not_listed,barone alvin j jr,2014-06-13t00:00:00,interior renovations to kitchen in condo unit ...,14-b-01776,renovision,"320 fort duquesne boulevard,9h, pittsburgh, pa",not_listed,...,2014,june,API,6,2.0,"['320 fort duquesne boulevard', '9h', ' pittsb...",320 fort duquesne boulevard,9h,pittsburgh,pa
7122,not_listed,0088r00175000000,not_listed,browns hill venture lp,2014-07-09t00:00:00,tenant fitout,14-b-01203,absolute win inc,"4656 browns hill road,4634, pittsburgh, pa",not_listed,...,2014,july,API,7,15.0,"['4656 browns hill road', '4634', ' pittsburgh...",4656 browns hill road,4634,pittsburgh,pa
7478,not_listed,0001g00224160400,not_listed,jonathan moritz,2014-09-26t00:00:00,interior fitout of condo unit 1604 for a singl...,14-b-03114,NaN,"151 fort pitt boulevard,1604, pittsburgh, pa",not_listed,...,2014,september,API,9,1.0,"['151 fort pitt boulevard', '1604', ' pittsbur...",151 fort pitt boulevard,1604,pittsburgh,pa
7870,not_listed,0001g00224090200,not_listed,cornell ray & denise,2014-10-30t00:00:00,interior renovations to single family condo un...,14-b-03575,jcp construction,"151 fort pitt boulevard,902, pittsburgh, pa",not_listed,...,2014,october,API,10,1.0,"['151 fort pitt boulevard', '902', ' pittsburg...",151 fort pitt boulevard,902,pittsburgh,pa
8002,not_listed,0001c01662111300,not_listed,coogan david & leigh argentieri,2014-10-21t00:00:00,interior renovations to condo unit 11m in 27 s...,14-b-03439,renovision,"320 fort duquesne boulevard,11m, pittsburgh, pa",not_listed,...,2014,october,API,10,2.0,"['320 fort duquesne boulevard', '11m', ' pitts...",320 fort duquesne boulevard,11m,pittsburgh,pa
8463,not_listed,0001g00224140400,not_listed,151 first side associates lp,2014-12-05t00:00:00,fitout of condo unit 1404 as a single family d...,14-b-03902,build rx inc,"151 fort pitt boulevard,1404, pittsburgh, pa",not_listed,...,2014,december,API,12,1.0,"['151 fort pitt boulevard', '1404', ' pittsbur...",151 fort pitt boulevard,1404,pittsburgh,pa
8667,not_listed,0001c01662021300,not_listed,"lilan laishley, william harmon",2015-01-08t00:00:00,interior renovations to kitchen and bath in co...,15-b-00040,renovision,"320 fort duquesne boulevard,21c, pittsburgh, pa",not_listed,...,2015,january,API,1,2.0,"['320 fort duquesne boulevard', '21c', ' pitts...",320 fort duquesne boulevard,21c,pittsburgh,pa
8758,not_listed,0001c01662020900,not_listed,miller harold d & sharon e (w),2015-01-08t00:00:00,interior renovations to bath in condo 20j in 2...,15-b-00041,renovision,"320 fort duquesne boulevard,20i, pittsburgh, pa",not_listed,...,2015,january,API,1,2.0,"['320 fort duquesne boulevard', '20i', ' pitts...",320 fort duquesne boulevard,20i,pittsburgh,pa
8872,not_listed,0088r00175000000,not_listed,browns hill venture lp,2015-02-05t00:00:00,"interior renovation, tenant fitout",14-b-04037,metro classic builder inc,"4656 browns hill road,4634, pittsburgh, pa",not_listed,...,2015,february,API,2,15.0,"['4656 browns hill road', '4634', ' pittsburgh...",4656 browns hill road,4634,pittsburgh,pa
8896,not_listed,0001g00224150600,not_listed,151 first side associates lp,2015-02-04t00:00:00,tenant fit out of unit #1506 as single family ...,15-b-00032,mistick construction company,"151 fort pitt boulevard,1506, pittsburgh, pa",not_listed,...,2015,february,API,2,1.0,"['151 fort pitt boulevard', '1506', ' pittsbur...",151 fort pitt boulevard,1506,pittsburgh,pa
9159,not_listed,0001c01662009300,not_listed,keefe timothy j,2015-03-13t00:00:00,interior renovations to kitchen and bath in un...,15-b-00621,randy stebler general contracting,"320 fort duquesne boulevard,9c, pittsburgh, pa",not_listed,...,2015,march,API,3,2.0,"['320 fort duquesne boulevard', '9c', ' pittsb...",320 fort duquesne boulevard,9c,pittsburgh,pa
9484,not_listed,0116l00076000000,not_listed,trzeciakowski kristen m,NaN,occ,15-occ-00465,NaN,"3608 colby, , pittsburgh, pa 15214",not_listed,...,2015,august,API,5,26.0,"['3608 colby', ' ', ' pittsburgh', ' pa 15214']",3608 colby,,pittsburgh,pa 15214
9485,not_listed,0023g00135000000,not_listed,churchill andrew,NaN,replacement windows and storm door on 2 1/2 st...,15-b-02358,NaN,"1417 sandusky, , pittsburgh, pa 15212",not_listed,...,2015,august,API,5,25.0,"['1417 sandusky', ' ', ' pittsburgh', ' pa 152...",1417 sandusky,,pittsburgh,pa 15212
9488,not_listed,0028h00172000000,not_listed,sansom & senko real estate development inc,NaN,interior renovations on a two story single fam...,15-b-02360,kris senko,"44 boundary, , pittsburgh, pa 15213",not_listed,...,2015,august,API,5,4.0,"['44 boundary', ' ', ' pittsburgh', ' pa 15213']",44 boundary,,pittsburgh,pa 15213
9489,not_listed,0022p00271000000,not_listed,austin gail,NaN,exterior renovations to replace rotten wood at...,15-b-02361,richard wallace jr,"1212 manhattan, , pittsburgh, pa 15233",not_listed,...,2015,august,API,5,21.0,"['1212 manhattan', ' ', ' pittsburgh', ' pa 15...",1212 manhattan,,pittsburgh,pa 15233
9490,not_listed,0126j00303000000,not_listed,kutz flamenbaum joshua r & rachel v (w),NaN,occ,15-occ-00466,NaN,"6708 wilkins, , pittsburgh, pa 15217",not_listed,...,2015,august,API,5,14.0,"['6708 wilkins', ' ', ' pittsburgh', ' pa 15217']",6708 wilkins,,pittsburgh,pa 15217
9491,not_listed,0050f00167000000,not_listed,bloomfield-garfield corporation,NaN,new 100a panel in basement - one side only,15-e-01832,alan w. wilkins,"4911 rosetta, , pittsburgh, pa 15224",not_listed,...,2015,august,API,5,10.0,"['4911 rosetta', ' ', ' pittsburgh', ' pa 15224']",4911 rosetta,,pittsburgh,pa 15224
9492,not_listed,0049f00149000000,not_listed,moore john b & susanne k park (w),NaN,"receptacles, luminaires & motors",15-e-01833,raymond wagner,"257 fisk, , pittsburgh, pa 15201",not_listed,...,2015,august,API,5,9.0,"['257 fisk', ' ', ' pittsburgh', ' pa 15201']",257 fisk,,pittsburgh,pa 15201
9493,not_listed,0024g00197000000,not_listed,jones darwin a & tara m (w),NaN,raze 2 story single family dwelling,15-d-00140,tom sipes,"1143 goettman, , pittsburgh, pa 15212",not_listed,...,2015,august,API,5,24.0,"['1143 goettman', ' ', ' pittsburgh', ' pa 152...",1143 goettman,,pittsburgh,pa 15212
9494,not_listed,0001d00169000000,not_listed,n&p properties llc,NaN,electric for 3 antennas,15-e-01834,donald h. stewart,"202 fifth, , pittsburgh, pa 15222",not_listed,...,2015,august,API,5,2.0,"['202 fifth', ' ', ' pittsburgh', ' pa 15222']",202 fifth,,pittsburgh,pa 15222
9495,not_listed,0012m00163000000,not_listed,faith christopher a,NaN,occ,15-occ-00467,NaN,"98 south 26th, , pittsburgh, pa 15203",not_listed,...,2015,august,API,5,16.0,"['98 south 26th', ' ', ' pittsburgh', ' pa 152...",98 south 26th,,pittsburgh,pa 15203
9496,not_listed,0023f00229000000,not_listed,go realty ll c,NaN,temp power,15-e-01836,anthony b grillo,"213 carrington, , pittsburgh, pa 15212",not_listed,...,2015,august,API,5,25.0,"['213 carrington', ' ', ' pittsburgh', ' pa 15...",213 carrington,,pittsburgh,pa 15212
9497,not_listed,0009k00057000000,not_listed,sage land lp,NaN,electric for 3 antennas,15-e-01835,donald h. stewart,"1133 penn, , pittsburgh, pa 15222",not_listed,...,2015,august,API,5,2.0,"['1133 penn', ' ', ' pittsburgh', ' pa 15222']",1133 penn,,pittsburgh,pa 15222
9499,not_listed,0035a00280000000,not_listed,giordani donna l,NaN,new 150a panel,15-e-01837,robert w coddington,"1537 roseberry, , pittsburgh, pa 15216",not_listed,...,2015,august,API,5,20.0,"['1537 roseberry', ' ', ' pittsburgh', ' pa 15...",1537 roseberry,,pittsburgh,pa 15216
9500,not_listed,0002e00184000000,not_listed,div 501 grant limited partnership,NaN,upgrades to fire alarm system,15-f-00172,michael j clista,"501 grant, , pittsburgh, pa 15219",not_listed,...,2015,august,API,5,2.0,"['501 grant', ' ', ' pittsburgh', ' pa 15219']",501 grant,,pittsburgh,pa 15219
9501,not_listed,0002e00184000a00,not_listed,div 501 grant limited partnership,NaN,upgrades to fire alarm system,15-f-00172,michael j clista,"501 grant, , pittsburgh, pa 15219",not_listed,...,2015,august,API,5,2.0,"['501 grant', ' ', ' pittsburgh', ' pa 15219']",501 grant,,pittsburgh,pa 15219
9504,not_listed,0049n00088000a00,not_listed,pints on penn properties llc,NaN,fire alarm system,15-f-00173,joseph f. scherer,"3523 penn, , pittsburgh, pa 15201",not_listed,...,2015,august,API,5,6.0,"['3523 penn', ' ', ' pittsburgh', ' pa 15201']",3523 penn,,pittsburgh,pa 15201
9505,not_listed,0046l00225000000,not_listed,pinkston shawn l,NaN,windows,15-b-02371,john mc clure,"328 lafayette, , pittsburgh, pa 15214",not_listed,...,2015,august,API,5,26.0,"['328 lafayette', ' ', ' pittsburgh', ' pa 152...",328 lafayette,,pittsburgh,pa 15214
9506,not_listed,0005d00223000000,not_listed,joyce thomas r & mary a (w),NaN,roof replacement,15-b-02372,robert jermalowski,"1209 virginia, , pittsburgh, pa 15211",not_listed,...,2015,august,API,5,19.0,"['1209 virginia', ' ', ' pittsburgh', ' pa 152...",1209 virginia,,pittsburgh,pa 15211
9507,not_listed,0126a00109000000,not_listed,laoworakiat werakul,NaN,roof replacement,15-b-02376,robert jermalowski,"220 elysian, , pittsburgh, pa 15206",not_listed,...,2015,august,API,5,14.0,"['220 elysian', ' ', ' pittsburgh', ' pa 15206']",220 elysian,,pittsburgh,pa 15206
9508,not_listed,0008f00118000000,not_listed,501 martindale associates lp,NaN,3 com tower antennas,15-e-01838,donald h. stewart,"501 martindale, , pittsburgh, pa 15212",not_listed,...,2015,august,API,5,22.0,"['501 martindale', ' ', ' pittsburgh', ' pa 15...",501 martindale,,pittsburgh,pa 15212
9509,not_listed,0126a00108000000,not_listed,jameson duncan b & sarah p (w),NaN,roof replacement,15-b-02374,robert jermalowski,"218 elysian, , pittsburgh, pa 15206",not_listed,...,2015,august,API,5,14.0,"['218 elysian', ' ', ' pittsburgh', ' pa 15206']",218 elysian,,pittsburgh,pa 15206
9510,not_listed,0120n00120000000,not_listed,pittsburgh economic & industrial development c...,NaN,receptacles & 150a panel,15-e-01840,leo levenreich,"450 56th, , pittsburgh, pa 15201",not_listed,...,2015,august,API,5,10.0,"['450 56th', ' ', ' pittsburgh', ' pa 15201']",450 56th,,pittsburgh,pa 15201

In [116]:
df.loc[9484, 'address']

'3608 colby, pittsburgh, pa 15214'

In [67]:
# Purge double commas
df.address = df.address.str.replace(',,', ',')

## Stopping point

In [68]:
df.to_csv('working2013.csv', index=False)

In [2]:
df = pd.read_csv('working.csv')

In [69]:
df.loc[:,'addr2'].unique()

array([' pittsburgh'], dtype=object)

In [70]:
# replace dict
repl = {' unit ': ' # ', ' bldg ':' building ', ' rear rear':'', ' #res':'', ' #onechatham':'',
       ' ste ': ' suite ', ' #parking': '', ' #f8 ud': '#f8', '# ':'#'}

In [71]:
def complete_street(x, dct):
    for i in dct.keys():
        if i in x:
            x = x.replace(i, dct[i])
    return x

In [72]:
# Apply the func to cleanse abbreviations
df.loc[:,'address'] = df.loc[:,'address'].apply(lambda x: complete_street(x, repl))

In [73]:
df[df.address.str.contains("''")]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn, split_addr, addr1, addr2, addr3]
Index: []

[0 rows x 21 columns]

In [79]:
df.loc[:,'addr2'].unique()

array([' pittsburgh', '4634', '12e', '19f', '179', '187', '171', '9',
       '17', '105', '142', '117', '129', '165', '1', '25', '153', '12h',
       '9h', '1604', '902', '11m', '1404', '21c', '20i', '1506', '9c',
       ' #6', ' homestead', ' #711', ' #gg', ' #jj', ' #19a', ' #ii',
       ' #hh', ' #411', ' #1006', ' #7', ' #24c', ' #4a', ' #707',
       ' carnegie', ' #u', ' #o', ' #p', ' #q', ' #r', ' #s', ' #t',
       ' #v', ' #w', ' #x', ' #y', ' #z', ' #aa', ' #24h', ' #14e',
       ' #1404', ' #165', ' #142', ' #33', ' #81', ' #57', ' #n', ' #d',
       ' #a', ' #e', ' #i', ' #g', ' #b', ' #c', ' #h', ' #l', ' #m',
       ' #j', ' #k', ' #17o', ' #906', ' #601', ' #519', ' #503', ' #505',
       ' #616', ' #15212', ' #101', ' #102', ' #103', ' #104', ' #201',
       ' #202', ' #203', ' #204', ' #301', ' #303', ' #304', ' #401',
       ' #18', ' #13', ' #414', ' #306', ' #rear', ' #512', ' #5', ' #2',
       ' #21', ' #55', ' #602', ' #406', ' #b103', ' rear ', ' #f',
       ' #606', ' #b102', ' #311', ' #2b', ' #1', ' #44', ' apt ',
       ' #1415', ' #2001', ' apt 1', ' #15c', ' #23d', ' #403',
       ' pittsburgh pa', ' #806', ' #4', ' #6g', ' #716', ' #b6', ' #c4',
       ' #615', ' #p2', ' suite 201', ' #717', ' #7e', ' #701', ' #1004',
       ' #210', ' #3b', ' #3a', ' #d4', ' #1250', ' #17', ' #93', ' #905',
       ' #1015', ' #840c', ' #3', ' #412', ' #705', ' suite b', ' #28',
       ' #62', ' #509', ' #1801', ' #20', ' #903', ' #71', ' #4jk', ' #8',
       ' #308', ' #a3', ' #3p', ' #9', ' #8k', ' #1902', ' #ph3', ' #72',
       ' #105', ' #450', ' #22', ' #302', ' #a5', ' #15', ' suite 100',
       ' building b', ' #6k', ' #850c', ' #402', ' #14', ' #2p', ' #206',
       ' #21f', ' #bldg b', ' #408', ' #b4', '#f8', ' #25', ' #310',
       ' #604', ' #21m', '#104', ' #175', '#1016', '#4j', '#16d', '#405',
       '#701', '#11l', '#506', '#1'], dtype=object)

In [74]:
df[df.addr2.str.contains(r'[0-9]{3,4}') & ~df.addr2.str.contains(r'#|suite')]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn, split_addr, addr1, addr2, addr3]
Index: []

[0 rows x 21 columns]

In [81]:
idx = df[df.addr2.str.contains(r'[0-9]{3,4}') & ~df.addr2.str.contains(r'#|suite')].index.values

In [82]:
idx

array([   3, 6459, 6460, 6468, 6574, 6575, 6580, 6581, 6679, 6714, 7122,
       7478, 7870, 8463, 8872, 8896], dtype=int64)

In [83]:
# Place '#' unit signifier before second address number
for i in idx:
    df.loc[i,'addr2'] = "#"+df.loc[i,'addr2']

In [84]:
",".join(df.iloc[3,19:22])

'4656 browns hill road,#4634, pittsburgh'

In [85]:
df.loc[3,'address']

'4656 browns hill road,4634, pittsburgh, pa'

In [86]:
for i in idx:
    df.loc[i,'address'] = ",".join(df.iloc[i,19:22])

In [94]:
df[~df.addr2.str.contains(r'#|suite|pitts|home|carn|apt|rear|pa|build')]

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,...,year,month,source,mn,clean_ward,split_addr,addr1,addr2,addr3,addr4
5461,not_listed,0001c01662012500,not_listed,ryan keefe,2014-01-24t00:00:00,interior condo renovations-12e,14-b-00143,randy stebler general contracting,"320 fort duquesne boulevard,12e, pittsburgh, pa",not_listed,...,2014,january,API,1,2.0,"[320 fort duquesne boulevard, 12e, pittsburgh...",320 fort duquesne boulevard,12e,pittsburgh,pa
5561,not_listed,0001c01662f01900,not_listed,betancourt carlos,2014-02-28t00:00:00,condo renovations,14-b-00106,fjw investment inc cabinet world,"320 fort duquesne boulevard,19f, pittsburgh, pa",not_listed,...,2014,february,API,2,2.0,"[320 fort duquesne boulevard, 19f, pittsburgh...",320 fort duquesne boulevard,19f,pittsburgh,pa
6562,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-00981,air technology inc,"2249 somers drive,9, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"[2249 somers drive, 9, pittsburgh, pa]",2249 somers drive,9,pittsburgh,pa
6563,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-00982,air technology inc,"2267 somers drive,17, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"[2267 somers drive, 17, pittsburgh, pa]",2267 somers drive,17,pittsburgh,pa
6696,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-00980,air technology inc,"2235 somers drive,1, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"[2235 somers drive, 1, pittsburgh, pa]",2235 somers drive,1,pittsburgh,pa
6697,not_listed,0010f00210000000,not_listed,housing authority city of pittsburgh,2014-05-05t00:00:00,windows & masonary repairs,14-b-00983,air technology inc,"2281 somers drive,25, pittsburgh, pa",not_listed,...,2014,may,API,5,5.0,"[2281 somers drive, 25, pittsburgh, pa]",2281 somers drive,25,pittsburgh,pa
6831,not_listed,0001c01662h01200,not_listed,anne and mike osborn,2014-06-06t00:00:00,interior renovations to condo unit 12 h on 12t...,14-b-01256,delaney's decorating,"320 fort duquesne boulevard,12h, pittsburgh, pa",not_listed,...,2014,june,API,6,2.0,"[320 fort duquesne boulevard, 12h, pittsburgh...",320 fort duquesne boulevard,12h,pittsburgh,pa
6906,not_listed,0001c01662009800,not_listed,barone alvin j jr,2014-06-13t00:00:00,interior renovations to kitchen in condo unit ...,14-b-01776,renovision,"320 fort duquesne boulevard,9h, pittsburgh, pa",not_listed,...,2014,june,API,6,2.0,"[320 fort duquesne boulevard, 9h, pittsburgh,...",320 fort duquesne boulevard,9h,pittsburgh,pa
8002,not_listed,0001c01662111300,not_listed,coogan david & leigh argentieri,2014-10-21t00:00:00,interior renovations to condo unit 11m in 27 s...,14-b-03439,renovision,"320 fort duquesne boulevard,11m, pittsburgh, pa",not_listed,...,2014,october,API,10,2.0,"[320 fort duquesne boulevard, 11m, pittsburgh...",320 fort duquesne boulevard,11m,pittsburgh,pa
8667,not_listed,0001c01662021300,not_listed,"lilan laishley, william harmon",2015-01-08t00:00:00,interior renovations to kitchen and bath in co...,15-b-00040,renovision,"320 fort duquesne boulevard,21c, pittsburgh, pa",not_listed,...,2015,january,API,1,2.0,"[320 fort duquesne boulevard, 21c, pittsburgh...",320 fort duquesne boulevard,21c,pittsburgh,pa
8758,not_listed,0001c01662020900,not_listed,miller harold d & sharon e (w),2015-01-08t00:00:00,interior renovations to bath in condo 20j in 2...,15-b-00041,renovision,"320 fort duquesne boulevard,20i, pittsburgh, pa",not_listed,...,2015,january,API,1,2.0,"[320 fort duquesne boulevard, 20i, pittsburgh...",320 fort duquesne boulevard,20i,pittsburgh,pa
9159,not_listed,0001c01662009300,not_listed,keefe timothy j,2015-03-13t00:00:00,interior renovations to kitchen and bath in un...,15-b-00621,randy stebler general contracting,"320 fort duquesne boulevard,9c, pittsburgh, pa",not_listed,...,2015,march,API,3,2.0,"[320 fort duquesne boulevard, 9c, pittsburgh,...",320 fort duquesne boulevard,9c,pittsburgh,pa

In [95]:
# Add unit '#' to remaining mixed units numbers (e.g., 12e)
idx = df[~df.addr2.str.contains(r'#|suite|pitts|home|carn|apt|rear|pa|build')].index.values

In [96]:
idx

array([5461, 5561, 6562, 6563, 6696, 6697, 6831, 6906, 8002, 8667, 8758,
       9159], dtype=int64)

In [97]:
for i in idx:
    df.loc[i,'addr2'] = "#"+df.loc[i,'addr2']

In [98]:
for i in idx:
    df.loc[i,'address'] = ",".join(df.iloc[i,19:22])

In [99]:
df[~df.addr2.str.contains(r'#|suite|pitts|home|carn|apt|rear|pa|build')]

Empty DataFrame
Columns: [structure_type, parcel, neighborhood, owner, issued, work description, permit, contractor, address, work_type, ward, id, cost, year, month, source, mn, clean_ward, split_addr, addr1, addr2, addr3, addr4]
Index: []

[0 rows x 23 columns]

In [106]:
df.addr2.unique()

array([' pittsburgh', '#4634', '#12e', '#19f', '#179', '#187', '#171',
       '#9', '#17', '#105', '#142', '#117', '#129', '#165', '#1', '#25',
       '#153', '#12h', '#9h', '#1604', '#902', '#11m', '#1404', '#21c',
       '#20i', '#1506', '#9c', ' #6', ' homestead', ' #711', ' #gg',
       ' #jj', ' #19a', ' #ii', ' #hh', ' #411', ' #1006', ' #7', ' #24c',
       ' #4a', ' #707', ' carnegie', ' #u', ' #o', ' #p', ' #q', ' #r',
       ' #s', ' #t', ' #v', ' #w', ' #x', ' #y', ' #z', ' #aa', ' #24h',
       ' #14e', ' #1404', ' #165', ' #142', ' #33', ' #81', ' #57', ' #n',
       ' #d', ' #a', ' #e', ' #i', ' #g', ' #b', ' #c', ' #h', ' #l',
       ' #m', ' #j', ' #k', ' #17o', ' #906', ' #601', ' #519', ' #503',
       ' #505', ' #616', ' #15212', ' #101', ' #102', ' #103', ' #104',
       ' #201', ' #202', ' #203', ' #204', ' #301', ' #303', ' #304',
       ' #401', ' #18', ' #13', ' #414', ' #306', ' #rear', ' #512',
       ' #5', ' #2', ' #21', ' #55', ' #602', ' #406', ' #b103', ' rear ',
       ' #f', ' #606', ' #b102', ' #311', ' #2b', ' #1', ' #44', ' apt ',
       ' #1415', ' #2001', ' apt 1', ' #15c', ' #23d', ' #403',
       ' pittsburgh pa', ' #806', ' #4', ' #6g', ' #716', ' #b6', ' #c4',
       ' #615', ' #p2', ' suite 201', ' #717', ' #7e', ' #701', ' #1004',
       ' #210', ' #3b', ' #3a', ' #d4', ' #1250', ' #17', ' #93', ' #905',
       ' #1015', ' #840c', ' #3', ' #412', ' #705', ' suite b', ' #28',
       ' #62', ' #509', ' #1801', ' #20', ' #903', ' #71', ' #4jk', ' #8',
       ' #308', ' #a3', ' #3p', ' #9', ' #8k', ' #1902', ' #ph3', ' #72',
       ' #105', ' #450', ' #22', ' #302', ' #a5', ' #15', ' suite 100',
       ' building b', ' #6k', ' #850c', ' #402', ' #14', ' #2p', ' #206',
       ' #21f', ' #bldg b', ' #408', ' #b4', '#f8', ' #25', ' #310',
       ' #604', ' #21m', '#104', ' #175', '#1016', '#4j', '#16d', '#405',
       '#701', '#11l', '#506'], dtype=object)

In [75]:
df.addr3.unique()

array([' pa'], dtype=object)

In [110]:
df[df.address.str.contains(r' pa 1$')]

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,...,year,month,source,mn,clean_ward,split_addr,addr1,addr2,addr3,addr4
47393,not_listed,0053b00100000000,not_listed,city of pittsburgh,2018-09-26t00:00:00,new hazardous exhaust systems/hvac systems rel...,18-m-00097,scalise industries,"431 hamerschlag drive, pittsburgh, pa 1",not_listed,...,2018,september,API,9,14.0,"[431 hamerschlag drive, pittsburgh, pa 1]",431 hamerschlag drive,pittsburgh,pa 1,

In [112]:
df.loc[47393,'address'] = '431 hamerschlag drive, pittsburgh, pa'

In [76]:
idx = df[df.address.str.contains(r'[0-9]{6,}')].index.values

In [77]:
df.loc[idx]['addr3']

Series([], Name: addr3, dtype: object)

In [129]:
for i in idx:
    df.loc[i, 'addr3'] = df.loc[i, 'addr3'].split()[0] + " " + df.loc[i, 'addr3'].split()[1][:5]

In [130]:
df[df.address.str.contains(r'[0-9]{6,}')]

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,...,year,month,source,mn,clean_ward,split_addr,addr1,addr2,addr3,addr4
20638,not_listed,0011r00004000001,not_listed,almono lp,6/2/2016,construction on new storage building (148ft by...,16-b-01162,franjo construction corp,"4936 gloster street, pittsburgh, pa 152071776",not_listed,...,2016,june,xslx,6,15.0,"[4936 gloster street, pittsburgh, pa 152071776]",4936 gloster street,pittsburgh,pa 15207,
24776,not_listed,0011r00004000001,not_listed,almono lp,NaN,electric associated with 16-b-01161 - service ...,16-e-01871,NaN,"4964 gloster street, pittsburgh, pa 152071776",not_listed,...,2016,november,API,11,15.0,"[4964 gloster street, pittsburgh, pa 152071776]",4964 gloster street,pittsburgh,pa 15207,
24997,not_listed,0011r00004000001,not_listed,almono lp,NaN,"revised: constriction of new, one story office...",16-b-01161,franjo construction corp,"4964 gloster street, pittsburgh, pa 152071776",not_listed,...,2016,november,API,11,15.0,"[4964 gloster street, pittsburgh, pa 152071776]",4964 gloster street,pittsburgh,pa 15207,
30878,not_listed,0049f00052000000,not_listed,jmt development inc,5/3/2017,(amendment to 16-m-00293) install (2) furnaces...,17-m-00711,day & night heating & air,"4063 street johns way, pittsburgh, pa 150201",not_listed,...,2017,may,xslx,5,9.0,"[4063 street johns way, pittsburgh, pa 150201]",4063 street johns way,pittsburgh,pa 15020,
40861,not_listed,0049c00266000000,not_listed,paul yanulavich,3/8/2018,"replace existing windows at a two-story, singl...",18-b-00758,thermo twin industries,"4611 bancroft street, pittsburgh, pa 152101",not_listed,...,2018,march,xslx,3,9.0,"[4611 bancroft street, pittsburgh, pa 152101]",4611 bancroft street,pittsburgh,pa 15210,

In [131]:
for i in idx:
    df.loc[i,'address'] = ",".join(df.iloc[i,19:22])

In [152]:
df.addr3.unique()

array([' pa', ' pittsburgh', ' pa 15217', ' pa 15212', ' pa 15206',
       ' pa 15214', ' pa 15213', ' pa 15233', ' pa 15224', ' pa 15201',
       ' pa 15222', ' pa 15203', ' pa 15216', ' pa 15219', ' pa 15211',
       ' pa 15205', ' pa 15232', ' pa 15220', ' pa 15210', ' pa 15208',
       ' pa 15204', ' pa 15226', ' pa 15207', ' pa 15218', ' pa 15227',
       ' pa 15221', ' pa 15234', ' pa 15215', ' pa 15238', ' pa 15120',
       ' pa 15106', ' pa 15235', '', ' pa 15260', ' pa 15282', 'pa 15207',
       ' pa 15323', 'pa 15020', 'pa 15210', ' pa 15202', ' 15211',
       ' 15207', ' 15206', ' 15216', ' 15234', ' 15213', ' 15224',
       ' 15212', ' 15227', ' 15210', ' 15221', ' 15208', ' 15203',
       ' 15219', ' 15217', ' 15233', ' 15235', ' 15232'], dtype=object)

In [145]:
df.address = df.address.str.replace(' pa pa', ' pa')

In [147]:
df['split_addr'] = df.loc[:,'address'].str.split(',')

In [148]:
x = 0
for i in df['address'].str.split(','):
    if len(i) > x:
        x = len(i)

In [149]:
x

4

In [150]:
df['addr1'] = df.loc[:,'split_addr'].apply(lambda x: x[0] if len(x)>0 else '')

In [151]:
df['addr2'] = df.loc[:,'split_addr'].apply(lambda x: x[1] if len(x)>1 else '')
df['addr3'] = df.loc[:,'split_addr'].apply(lambda x: x[2] if len(x)>2 else '')
df['addr4'] = df.loc[:,'split_addr'].apply(lambda x: x[3] if len(x)>3 else '')

In [78]:
df.to_csv('working2013.csv', index=False)

In [154]:
df.addr4.unique()

array(['', ' pa 15234', ' pa 15232', ' pa 15222', ' pa 15201',
       ' pa 15213', ' pa 15210', ' pa 15211', ' pa 15219', ' pa 15206',
       ' pa 15217', ' pa 15208', ' pa', ' pa 15207', ' pa 15205',
       ' pa 15212', ' pa 15203', ' pa 15233', ' pa 15221', ' pa 15224',
       ' pa 15226'], dtype=object)

In [79]:
df

,structure_type,parcel,neighborhood,owner,issued,work description,permit,contractor,address,work_type,...,id,cost,year,month,source,mn,split_addr,addr1,addr2,addr3
2439,not_listed,0049r00244000000,not_listed,john g & valerie s mcconnell,1/15/2013,repairs to south easterly corner of two story ...,11-b-02247,next generation restorable technology,"3955 liberty avenue 3951, pittsburgh, pa",not_listed,...,NaN,6000.0,2013,january,xslx,1,"[3955 liberty avenue 3951, pittsburgh, pa]",3955 liberty avenue 3951,pittsburgh,pa
2440,not_listed,0007l00032000000,not_listed,holdings acquisition co lp,1/28/2013,renovate 1st floor offices,12-b-00962,the norwood company,"777 casino drive, pittsburgh, pa",not_listed,...,NaN,97550.0,2013,january,xslx,1,"[777 casino drive, pittsburgh, pa]",777 casino drive,pittsburgh,pa
2441,not_listed,0009r00194000000,not_listed,pittsburgh gateways corp,1/22/2013,renovation of former connelly school into the,12-b-01484,mascaro construction company lp,"1435 bedford avenue, pittsburgh, pa",not_listed,...,NaN,8528417.0,2013,january,xslx,1,"[1435 bedford avenue, pittsburgh, pa]",1435 bedford avenue,pittsburgh,pa
2442,not_listed,0083f00339000000,not_listed,mays thurston & kim (w),1/23/2013,exterior renovations to 2 1/2 story 2 family d...,12-b-02590,marshall builders pa079702,"526 north euclid avenue, pittsburgh, pa",not_listed,...,NaN,7000.0,2013,january,xslx,1,"[526 north euclid avenue, pittsburgh, pa]",526 north euclid avenue,pittsburgh,pa
2443,not_listed,0050f00016000000,not_listed,bloomfield-garfield crop,1/23/2013,"new, 2-story single family dwelling with 8' x ...",12-b-02311,catranel steve const,"4914 kincaid street, pittsburgh, pa",not_listed,...,NaN,150000.0,2013,january,xslx,1,"[4914 kincaid street, pittsburgh, pa]",4914 kincaid street,pittsburgh,pa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2582,not_listed,0009r00158000000,not_listed,jakim donaldson,1/29/2013,party wall,13-b-00164,lane plastering and stucco,"814 crawford street, pittsburgh, pa",not_listed,...,NaN,12828.0,2013,january,xslx,1,"[814 crawford street, pittsburgh, pa]",814 crawford street,pittsburgh,pa
2583,not_listed,0049f00130000000,not_listed,costello properties llc,1/29/2013,interior renovations,13-b-00167,costello management llc,"223 fisk street, pittsburgh, pa",not_listed,...,NaN,15000.0,2013,january,xslx,1,"[223 fisk street, pittsburgh, pa]",223 fisk street,pittsburgh,pa
2584,not_listed,0052a00022000000,not_listed,hart bill & maria (w),1/29/2013,interior nonstructural demolition in 3 story s...,13-b-00169,buildrx inc,"303 north neville street, pittsburgh, pa",not_listed,...,NaN,12500.0,2013,january,xslx,1,"[303 north neville street, pittsburgh, pa]",303 north neville street,pittsburgh,pa
2585,not_listed,0012j00143000000,not_listed,leco gerry a & cathy jo (w),1/31/2013,windows and interior renovations to 3 story two,13-b-00183,craig sweitzer construction,"1725 larkins way, pittsburgh, pa",not_listed,...,NaN,15000.0,2013,january,xslx,1,"[1725 larkins way, pittsburgh, pa]",1725 larkins way,pittsburgh,pa
2586,not_listed,0035m00171000000,not_listed,raymont norma s & (trustee),1/30/2013,repairs to structure/landslide,13-b-00175,creative enterprises corp.,"1718 west liberty avenue, pittsburgh, pa",not_listed,...,NaN,3000.0,2013,january,xslx,1,"[1718 west liberty avenue, pittsburgh, pa]",1718 west liberty avenue,pittsburgh,pa